services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: merkato
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

  vault:
    image: hashicorp/vault:1.21
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    ports:
      - "8200:8200"

volumes:
  pg-data:
